<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <h2>Tem certeza?</h2>
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col-lg-3">
            <button mat-raised-button color="primary" (click)="confirmAction()" aria-label="Sim">Sim</button>
        </div>
    
        <div class="col-lg-3">
            <button mat-raised-button mat-dialog-close class="ml-2" (click)="closeAction()" aria-label="Não">Não</button>
        </div>
    </div>    
</div>
